html ._1md0{padding:16px 0 0 0}
.sp_GPqZJ_sO3wF_2x{background-image:url(/rsrc.php/v3/yH/r/mG71dvkc6iY.png);background-size:37px 49px;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_GPqZJ_sO3wF_2x.sx_7b3bb5{width:10px;height:11px;background-position:0 -37px}.sp_GPqZJ_sO3wF_2x.sx_81dd35{background-position:0 0}

#bootloader_2LK_r{height:42px;}.bootloader_2LK_r{display:block!important;}